/target
/.idea/.gitignore
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/search_and_apply.iml
/.idea/vcs.xml
/@unprocessed_data/
/@data_store/
/website_discovery/assets/google_api_key
/.env
/assets/google_api_key
